* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER  */
header {background-color: #f4f4f4;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 45;
    }

.navbar_list--menu {
    display: inline-block;
    padding: 0px 20px;
    list-style-type: none;
    transition: all 0.3s ease 0s;
    color: #c0b283;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;}
ul li:hover {
    background-color: #c0b283;
    color: white;}

/* MAIN */
.banner { height: 500px;
        background-image: url(https://www.detroitlabs.com/wp-content/uploads/2018/02/alfons-morales-YLSwjSy7stw-unsplash.jpg);
        background-size: cover;}

.nosotros {
    height: 300px;
    /* background-color: #f4f4f4; */
    color: #373737;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(to left, #f4f4f4 , #f0f0f0);

}

h1 {margin-top: 3%;
    color: #c0b283;
    font-weight: bold;}
    
p   {margin: 3% 5% 3% 5%;}

/* FOOTER */